@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.flex{
  display:flex
}
.btn:hover{
cursor: pointer;
}
.login{
  height:100vh;
  display: relative;
}
.login-card{
  display:flex;
  width:50%;
  height:100vh;
}
.login-form-card{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  width:50%;
  border-radius: 25px;
  margin:auto;
  justify-content:center;
}
.login-message{
  display:flex;
  width:50%;
  font-size:30px;
  color:white
}
.login-form{
  width:60%;
  margin:25px 0px
}
.login-buttons{
  margin:20px 0px;
  text-align: center;
}
input{
  border-radius: 5px;
  border:1px solid #dfdfdf;
  padding:5px 8px;
  margin:2px 0px;
  width: 100%
}

.btn-login{
  width:100%;
  border:none;
  background:#e60023;
  padding:6px;
  color:white;
  border-radius: 999px;
}
.btn-login-fb{
  width:100%;
  border:none;
  background:#1877f2;
  padding:6px;
  color:white;
  border-radius: 999px;
}
.btn-login-google{
  width:100%;
  border:1px solid grey;
  margin-top:5px;
  padding:6px;
  color:black;
  background:white;
  border-radius: 999px;
}

.login-info{
  text-align:center;
}

.login-info p{
  font-size:10px;
  margin:5px 0px
}

.footer {
position: absolute;
bottom:0;
background-color:#dfdfdf;
width:100%}

.footer{
  text-align: center;
  padding:5px 0px;
}
.footer ul li{
  display: inline-block;
  margin:0px 5px;
  color:black;
  font-size:14px
  
}